body {
    margin: 0px;
    padding-top:100px ;
    padding-bottom:50px ;
}
.submit-area {
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 6px 6px 10px;
}
.container {
    margin-top: 50px;
    margin-bottom: 50px;
}
section {
width: 500px;

}
